<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Text_Color_gray</key>
	<dict>
		<key>R</key>
		<string>127</string>
		<key>G</key>
		<string>127</string>
		<key>B</key>
		<string>127</string>
	</dict>
	<key>Text_Color_Black</key>
	<dict>
		<key>R</key>
		<string>0</string>
		<key>G</key>
		<string>0</string>
		<key>B</key>
		<string>0</string>
	</dict>
	<key>Text_Color_White</key>
	<dict>
		<key>R</key>
		<string>255</string>
		<key>G</key>
		<string>255</string>
		<key>B</key>
		<string>255</string>
	</dict>
	<key>Text_Color_Light_gray</key>
	<dict>
		<key>R</key>
		<string>153</string>
		<key>G</key>
		<string>153</string>
		<key>B</key>
		<string>153</string>
	</dict>
</dict>
</plist>
